body {
  margin-left: 0px;
  margin-right: 0px;
}

#Menu {
  width: 500px;
  float: left;
}

#Menu ul {
  list-style-type: none;
  margin: 0px; padding: 0px;
  overflow: hidden;
}

#Menu li p {
  display: block;
  width: 100px;
  text-align: center;
  font-size: 18px;
  margin: 0px;
  margin-top: 9px; margin-bottom: 9px;
}

#Menu li {
  float: left;
}
#Menu li:hover {
  background-color: #6E9FFF;
}

@font-face {
  font-family: Quinta;
  src: url("../BW Quinta/Fonts/bwquintapro-light.otf");
}
.BwQuintaL {
  font-family: Quinta;
}

#MenuDiv {
  background-color: #1E90FF;
  width: 100%;
  height: 50px;
}

#MenuInDiv {
  width: 70%;
  height: 50px;
  margin: auto;
}

#LogoText {
  width: 15%;
  margin: 30%;
  margin-right: 0px; margin-left: 0px;
  float: left;
}
